<div class="container" style="margin-top: 20px;">
  <div class="row">
    <div class="col">
      <mat-label>Present value</mat-label>
    </div>
    <div class="col">
      <input matInput type="number" #presentValue>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <mat-label>Number of installments</mat-label>
    </div>
    <div class="col">
      <input matInput type="number" #noOfInstallments>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <mat-label>Bank name</mat-label>
    </div>
    <div class="col">
      <input matInput type="text" #bankName>
    </div>
  </div>

  <div class="row justify-content-end">
    <div class="col" align="right">
      <button mat-raised-button (click)="onCalculateBankLoan(presentValue.value, noOfInstallments.value, bankName.value)">Calculate bank loan</button>
    </div>
  </div>
</div>
<div class="container" *ngIf="bankLoan?.paymentAmount">
  <div class="row">
    <div class="col">
      <mat-label>Payment amount</mat-label>
    </div>
    <div class="col">
      {{bankLoan?.paymentAmount}}
    </div>
  </div>
</div>
